.slider-card {
  padding: 15px 20px;
  overflow: hidden;
}

.slider-card-header {
  display: flex;
  justify-content: space-between;
  padding: 15px 0px;
}

.slider-card-header h3 {
  line-height: 22px;
  font-weight: 500;
  font-size: 18px;
  color: #252728;
}

.link-btn {
  display: flex;
  align-items: center;
  gap: 15px;
  line-height: 16px;
  color: #969caf;
  background: transparent;
  outline: none;
  border: none;
}