// head style

.headerUser {
    display: block;
    padding: 20px 0;
    min-height: auto;

    .text>.logo {
        color: var(--activeBlueColor);
    }

    &__wrapper {
        display: flex;
        align-items: center;
        justify-content: space-between;

        &-tail {
            display: flex;
            align-items: center;
        }
    }
}

.adminPanelText {
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;


    color: var(--disactiveTextColor);
}


// sub head style

.subHead {
    margin-top: 53px;
    padding: 24px 0;
    position: relative;

    &__description {
        height: 300px;
        display: flex;
        align-items: center;
        gap: 88px;

        &>.bannerImg img {
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
    }

}

.beginBlock {
    .subHead {
        height: 300px;
        width: 100%;
        padding: 0;
    }
}

.slideLines {
    position: absolute;
    bottom: 16px;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    flex-direction: row;
    gap: 8.7px;

    &>.line {
        width: 208px;
        height: 4px;
        background: #B7BCCC;
        opacity: 0.2;
        border-radius: 5px;
        cursor: pointer;

        &__active {
            background: var(--activeRedColor);
            opacity: 1;
            border-radius: 5px;
        }
    }
}

.infoShopText {
    display: flex;
    flex-direction: column;
    gap: 20px;
    flex-basis: 304px;

    &>.subText {
        font-weight: 400;
        font-size: 20px;
        line-height: 24px;


        color: var(--disactiveTextColor);
    }
}

.shopNameText {
    width: fit-content;
    padding: 10px;
    background: var(--activeRedColor);
    font-weight: 500;
    font-size: 24px;
    line-height: 32px;
    color: #fff;
}