.registerStep {
    margin-top: 64px;

    &__head {
        display: flex;
        align-items: center;
        gap: 16px;
    }

    .subtext {
        font-weight: 400;
        font-size: 16px;
        line-height: 19px;
        margin-top: 8px;

    }

    &__inputNumberBlock {
        display: flex;
        align-items: center;
        gap: 16px;
        justify-content: space-between;
        margin-top: 32px;
    }
}

.numberConfirmationText {
    font-weight: 500;
    font-size: 24px;
    line-height: 29px;
    color: #0F0E1E;
}

.icon-arrowBack {
    path {
        stroke: #969CAF;
    }
}

.numberBox {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 37px;

    .step {
        margin-top: 20px;
        width: 37px;
        height: 2px;
    }
}

.circleNumberBox {
    width: 5px;
    height: 5px;
    border-radius: 100%;
    background: #BBC2CA;
}

.timeTextSend {
    margin-top: 46px;
    font-weight: 500;
    font-size: 16px;
    line-height: 16px;
    text-align: center;

    color: #9BA3AA;
}