.btn .addGds,
.btn>.shopCahngePhoneNumber {
    background: var(--activeBlueColor);
    border-radius: 6px;
    border: none;
    padding: 16px 20px;
    color: #FFFFFF;
    font-weight: 500;
    font-size: 16px;
    line-height: 16px;
    cursor: pointer;
    transition: transform 0.8s ease-in-out;

    // &:hover {
    //     transform: scale(1.1);
    //     transition: transform 0.8s ease-in-out;
    // }
}

.btn {
    border: none;
    cursor: pointer;

    &>.shopCahngePhoneNumber {
        padding: 11.5px 19.3px 12.7px 19.3px;
    }

    &.submit {
        position: absolute;
        bottom: 24px;
        left: 24px;
        background: #F4F5F7;
        border-radius: 6px;
        padding: 12px 15px;
        font-weight: 500;
        font-size: 14px;
        line-height: 16px;
        cursor: pointer;
        color: #B7BCCC;
    }

    &.clear {
        margin-top: 64px;
        background: #FFFFFF;
        padding: 11.5px 29.25px;
        border: 1px solid var(--activeBlueColor);
        border-radius: 5px;
        font-weight: 500;
        font-size: 14px;
        line-height: 17px;
        margin-right: 16px;
        color: var(--activeBlueColor);
    }

    &.apply {
        padding: 11.3px 16.53px 12.67px 16.53px;
        margin-top: 64px;
        background: var(--activeBlueColor);
        border-radius: 6px;
        font-weight: 500;
        font-size: 14px;
        line-height: 16px;

        color: #FFFFFF;

    }
}