.form {

    &-data {
        display: grid;
        grid-template: repeat(3, 1fr) / repeat(2, 1fr);
        row-gap: 22px;
        column-gap: 24px;
    }

    // grid жондеу керек чтобы ар кайсы бырдей болу ушын
    .price-data {
        grid-template: 20px repeat(2, 1fr) / repeat(2, 1fr);
        row-gap: 16px;
        column-gap: 32px;
    }

    .changePassword {
        grid-template: 1fr / repeat(3, 2fr) 1fr;
    }

    &-descr {
        margin-top: 24px;


        &__textArea {
            padding: 16px 0 0 16px;
            border: 1px solid #DBDDE5;
            border-radius: 5px;
            width: 100%;
            height: 232px;

            &::placeholder {
                font-weight: 400;
                font-size: 14px;
                line-height: 16px;

                color: var(--disactiveTextColor);
            }
        }
    }

    // быр класс кылу керек а не каждый раз 
    &-input {
        padding: 14px 0 14px 44px;
        border: 1px solid #DBDDE5;
        border-radius: 5px;
        outline: none;
        width: 100%;
        height: 50px;
        font-weight: 400;
        font-size: 14px;
        line-height: 16px;
        color: #252728;

        &::placeholder {
            font-weight: 400;
            font-size: 14px;
            line-height: 16px;
            color: #252728;
        }
    }

    &-select {
        position: relative;
    }

    &-inputCities {
        flex-basis: 70%;
        flex-grow: 2;
        padding: 10px 0 10px 44px;
        position: relative;
    }

    &-inputVolute {
        padding-left: 10px;
        margin-left: 8px;
        flex-basis: 30%;
        flex-shrink: 1;
        flex-grow: 1;
    }

    // жондеу керек тагы да быр рет 
    &-input__block,
    &-select__block {
        position: relative;
        margin-top: 6px;
        display: flex;
        align-items: center;
    }

}

.form-priceInput {
    padding: 14px 0 14px 10px;

    &::placeholder {
        font-weight: 400;
        font-size: 14px;
        line-height: 16px;

        color: var(--disactiveTextColor);
    }
}

.helperPlaceholder {
    position: absolute;
    left: 44px;
    top: 13px;
    line-height: 16px !important;
    cursor: text;
    color: var(--disactiveTextColor) !important;

}

.form-input:focus+.helperPlaceholder {
    display: none;
}

.stylePl {
    color: #252728;
}

.text-formTitle {
    font-weight: 400;
    font-size: 14px;
    line-height: 16px;
    color: var(--disactiveTextColor);
}

.iconform {
    position: absolute;
    left: 15px;
    bottom: 8px;
}

.priceIcon {
    left: auto;
    right: 17px;
    top: 15px;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 16px;
    color: #B7BCCC;
}

.flagicon {
    bottom: 3px;
}

.selectIcon {
    top: 14px;
    bottom: auto;
}

// тагы да быр класс кылу керек  а не 3еу 
.cityName,
.voluteText,
.helperPlaceholder {
    font-weight: 400;
    font-size: 14px;
    line-height: 23px;
    color: var(--defaultTextColor);
}

.selectName {
    font-weight: 400;
    font-size: 14px;
    line-height: 16px;
    color: var(--defaultTextColor);
}

.arrowDown {
    position: absolute;
    right: 15px;
    bottom: 8px;
    cursor: pointer;

    &-volute {
        right: 20px;
    }
}

.selectArrow {
    left: auto;
    right: 15px;
}

.form-block {
    &__title {
        font-weight: 400;
        font-size: 16px;
        line-height: 22px;
        opacity: 0.9;
        color: var(--defaultTextColor);
    }

    &__input {
        width: 100%;
        padding: 14px 10px;
        border: 1px solid #DBDDE5;
        border-radius: 5px;
        outline: none;
        margin-top: 8px;
    }

    &__textarea {
        width: 100%;
        height: 100%;
        padding: 16px 16px 14px 16px;
        border: 1px solid #DBDDE5;
        border-radius: 5px;

        &::placeholder {
            font-weight: 400;
            font-size: 14px;
            line-height: 16px;
            color: var(--disactiveTextColor);
        }
    }

    &__textareaBlock {
        grid-column-start: 2;
        grid-row-start: 1;
        grid-row-end: -1;
        margin-top: 30px;
        position: relative;

        .wordWarning {
            position: absolute;
            bottom: 14px;
            left: 16px;
            font-weight: 400;
            font-size: 12px;
            line-height: 16px;
            color: var(--disactiveTextColor);
        }
    }

    &_price {
        margin-top: 8px;
        position: relative;

        .input-price {
            outline: none;
            width: 100%;
            padding: 14px 44px;
            border: 1px solid #DBDDE5;
            border-radius: 5px;
            font-weight: 400;
            font-size: 14px;
            line-height: 16px;

            color: #252728;
        }

        &__icon {
            position: absolute;
            top: 13px;
            left: 13px;

            path {
                stroke: var(--disactiveTextColor);
            }
        }

        &__info {
            position: absolute;
            top: 14px;
            right: 17px;
            font-weight: 400;
            font-size: 14px;
            line-height: 16px;

            color: var(--disactiveTextColor);
        }
    }
}