.text>.logo {
    font-weight: 400;
    font-size: 24px;
    line-height: 27px;

    color: #FFFFFF;

}

.text {
    .linkSite {
        font-weight: 400;
        font-size: 16px;
        line-height: 24px;
        cursor: pointer;
        color: #F25E7F;

    }

    &-menu__active {
        margin-top: 12px;
        font-weight: 500;
        font-size: 14px;
        line-height: 18px;
        color: #F25E7F;
    }

    &-menu {
        margin-top: 12px;
        font-weight: 400;
        font-size: 14px;
        line-height: 18px;
        color: var(--disactiveTextColor);
    }

    &-welcome {
        font-weight: 600;
        font-size: 28px;
        line-height: 32px;
        color: var(--defaultTextColor);
    }

    &-subText {
        display: block;
        margin-top: 12px;
    }

    &-infoCount {
        font-weight: 400;
        font-size: 24px;
        line-height: 31px;
        color: var(--defaultTextColor);
    }

    &-subInfoCount,
    &-subText {
        font-weight: 400;
        font-size: 16px;
        line-height: 21px;
        color: var(--disactiveTextColor);
    }

    &-rightsReserved {
        font-weight: 400;
        font-size: 12px;
        line-height: 16px;
        color: #B7BCCC;
        padding: 0 16px;
        text-align: left;
        position: absolute;
        bottom: 16px;
    }
}