.footer {
  padding: 30px 20px 10px 20px;


  &__title {
    font-weight: 500;
    font-size: 24px;
    line-height: 32px;
    color: #40BFFF;
  }

  .subtext {
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    margin-top: 10px;
  }

  &__data {
    display: grid;
    grid-template: 1fr / 1fr 1fr;
    column-gap: 35px;
    margin-top: 25px;
    align-self: center;

    &-block {
      display: flex;
      align-items: center;
      gap: 15px;
    }

  }
}

.socialBlock {
  display: flex;
  align-items: center;
  gap: 22px;
  margin-top: 40px;
}

.phoneNumberAdressText {
  font-weight: 400;
  font-size: 16px;
  line-height: 22px;

  color: #252728;

}

.copyrightText {
  margin-top: 40px;
  font-weight: 400;
  font-size: 14px;
  line-height: 16px;

  color: #B7BCCC;
}

@media(max-width: 767px) {
  .footer__data {
    grid-template: 2fr / 1fr;
    gap: 20px;
  }
}