// default page-тагы title дары уксайды так что екы компоненте колданылады 

.pagehead {
    margin-top: 32px;
    position: relative;
}

.text-page__title {
    font-weight: 600;
    font-size: 28px;
    line-height: 32px;

    color: #252728;
}