.hamburger {
    display: block;
    position: absolute;
    right: 68px;
    top: 50%;
    transform: translateY(-50%);
    width: 16px;
    height: 10px;
    cursor: pointer;

    span {
        display: block;
        height: 2px;
        width: 100%;
        background-color: #969CAF;
        margin-bottom: 2px;
        transition: all 0.5s;
    }

    &_active {
        span {
            margin-bottom: 0px;

            &:nth-child(1) {
                transform: translateY(5px) rotate(-45deg);
            }

            &:nth-child(2) {
                display: none;
            }

            &:nth-child(3) {
                transform: translateY(3px) rotate(45deg);
            }
        }
    }
}