.qrCode {
    height: 100%;

    .getQrBtn {
        padding: 12px 15px;
        font-weight: 500;
        font-size: 14px;
        line-height: 16px;
        color: #FFFFFF;
        background: #40BFFF;
        border-radius: 6px;
        display: block;
        margin: 0 auto;
        margin-top: 20px;

    }
}

.iconQrImg {
    display: block;
    margin: 0 auto;
    margin-top: 20px;
}