.add-product {
    margin-top: 32px;
    margin-bottom: 32px;

    &_head {
        display: flex;
        align-items: center;
        justify-content: space-between;


        &-firstBlock {
            display: flex;
            align-items: center;
        }

        &__inStock {
            margin-right: 30px;

            .inStockIcon {
                width: 22px;
                height: 22px;
                display: flex;
                justify-content: center;
                align-items: center;
                background: #B7BCCC;
                border: 1.5px solid #B7BCCC;
                margin-left: 13px;
                border-radius: 5px;
            }

            .instockText {
                font-weight: 400;
                font-size: 16px;
                line-height: 22px;

                color: #252728;

            }
        }

        &__btns {
            .preview {
                padding: 10px 45px 10px 43px;
                font-style: normal;
                font-weight: 500;
                font-size: 16px;
                line-height: 16px;
                border: 1px solid #B7BCCC;
                border-radius: 6px;
                background: inherit;
                color: #B7BCCC;
                margin-right: 24px;
            }

            .save {
                flex-grow: 2;
                padding: 11px 50px 12px 50px;
                background: #B7BCCC;
                opacity: 0.3;
                border-radius: 6px;
                font-weight: 500;
                font-size: 16px;
                line-height: 16px;
            }
        }

    }

    &_main {
        display: grid;
        grid-template: repeat(3, minmax(110px, auto)) / repeat(3, 1fr);
        gap: 24px;

        &__photo {
            margin-top: 24px;
            padding: 24px;
            grid-column: 1 / -1;
            background: #fff;
            border-radius: 5px;

            .photoProduct {
                font-weight: 400;
                font-size: 18px;
                line-height: 22px;
                color: #252728;
                margin-bottom: 16px;
                opacity: 0.9;
            }

            .addBlock {
                height: 160px;
                width: 160px;
                display: flex;
                justify-content: center;
                flex-direction: column;
                align-items: center;
                background: rgba(183, 188, 204, .5);
                border-radius: 5px;
                margin-bottom: 12px;
            }
        }

        &__data {
            grid-column: 1 / 3;
            background: #fff;
            padding: 24px 24px 61px 24px;
            border-radius: 5px;
        }

        &__price {
            grid-column: 3/ 4;
            border-radius: 5px;
            background: #fff;
            padding: 24px 32px 0 24px;

            .price_headText {
                font-weight: 400;
                font-size: 16px;
                line-height: 22px;
                color: #252728;

                opacity: 0.9;
            }
        }

        &__installmentPlan {
            grid-column: 1 / -1;
            background: #fff;
            padding: 24px;
            border-radius: 5px;

            .titleText {
                font-weight: 400;
                font-size: 18px;
                line-height: 22px;

                color: #252728;
                margin-bottom: 24px;
                opacity: 0.9;
            }
        }
    }
}

.form-addProduct {
    display: grid;
    grid-template-rows: repeat(3, 1fr);
    grid-template-columns: repeat(2, 1fr);
    row-gap: 16px;
    column-gap: 24px;
}


// form block auystyru kerek
.form-block {
    &__title {
        font-weight: 400;
        font-size: 16px;
        line-height: 22px;
        opacity: 0.9;
        color: #252728;
    }

    &__input {
        width: 100%;
        padding: 14px 10px;
        border: 1px solid #DBDDE5;
        border-radius: 5px;
        outline: none;
        margin-top: 8px;
    }

    &__textarea {
        width: 100%;
        height: 100%;
        padding: 16px 16px 14px 16px;
        border: 1px solid #DBDDE5;
        border-radius: 5px;

        &::placeholder {
            font-weight: 400;
            font-size: 14px;
            line-height: 16px;
            color: #969CAF;
        }
    }

    &__textareaBlock {
        grid-column-start: 2;
        grid-row-start: 1;
        grid-row-end: -1;
        margin-top: 30px;
        position: relative;

        .wordWarning {
            position: absolute;
            bottom: 14px;
            left: 16px;
            font-weight: 400;
            font-size: 12px;
            line-height: 16px;
            color: #969CAF;
        }
    }

    &_price {
        margin-top: 8px;
        position: relative;

        .input-price {
            outline: none;
            width: 100%;
            padding: 14px 44px;
            border: 1px solid #DBDDE5;
            border-radius: 5px;
            font-weight: 400;
            font-size: 14px;
            line-height: 16px;

            color: #252728;
        }

        &__icon {
            position: absolute;
            top: 13px;
            left: 13px;

            path {
                stroke: #969CAF;
            }
        }

        &__info {
            position: absolute;
            top: 14px;
            right: 17px;
            font-weight: 400;
            font-size: 14px;
            line-height: 16px;

            color: #969CAF;
        }
    }
}

.selectTags-block {
    margin-top: 24px;

    &_headText {
        font-weight: 400;
        font-size: 15px;
        line-height: 16px;
        color: #252728;
    }

    &__grid {
        margin-top: 16px;
        display: grid;
        grid-template: repeat(2, minmax(32px, auto)) / repeat(2, 1fr);
        row-gap: 20px;
        column-gap: 76px;
    }

}

.beginInfoProduct {
    display: flex;
    align-items: center;

}

.textInfo {
    font-weight: 400;
    font-size: 14px;
    line-height: 16px;
    color: #252728;

    .subtext {
        margin-top: 2px;
        font-size: 12px;
    }
}

.selectBox {
    width: 17px;
    height: 17px;
    border-radius: 5px;
    border: 2px solid #B7BCCC;
    margin-right: 12px;
}

.subtext {
    color: #969CAF;
}

.addText {
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
    margin-top: 12px;
    color: #40BFFF;

}

.subText {
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;

    color: #969CAF;

    opacity: 0.9;
}

.addProductText {
    margin-left: 12px;
}