.userOrderModal {
    padding: 24px 24px 24px 20px;

    &__wrapper-block {
        display: flex;
        align-items: center;
        gap: 20px;

        img {
            width: 80px;
            height: 90px;
            object-fit: cover;
            border-radius: 5px;
        }

        .infoName {
            line-height: 20px;
            font-size: 16px;
            margin-bottom: 12px;
        }

        .subtext {
            font-weight: 400;
            font-size: 14px;
            line-height: 16px;
        }
    }

    &__wrapper-subBlock {
        margin-top: 12px;
        display: flex;
        align-items: center;
        justify-content: space-between;
    }

    .cancelBtn {
        background: var(--activeRedColor);
        border: none;
        color: #FFFFFF;
    }
}

.textOrderModal {
    font-weight: 500;
    font-size: 18px;
    line-height: 20px;

    color: var(--defaultTextColor);

}

@media(max-width: 767px) {
    .userOrderModal {
        width: 325px;

        .cancelBtn {
            width: 100%;
            flex-basis: auto;
        }
    }
}