.dataOrder {
    margin-top: 24px;
    margin-bottom: 51px;
    position: relative;

    &-filter {

        .form-filter {
            display: grid;
            grid-template: 1fr / 3fr repeat(4, minmax(131px, 1fr));
            column-gap: 16px;
            align-items: flex-end;
        }
    }
}

input[name='search input'] {
    &::placeholder {
        font-weight: 400;
        font-size: 16px;
        line-height: 20px;
        color: #969CAF;
    }
}

input[name='date from'] {
    height: 44px;
    background: #FFFFFF;
    // border: 1px solid #40BFFF;
    border: 1px solid #DBDDE5;

    border-radius: 5px;
    padding: 16px 20px 16px 16px;
}

.statusFilter {
    position: relative;
}

.modalFilter {

    &.activeModal {
        position: relative;
        z-index: 102;
        color: #40BFFF;

        &>.icon path {
            transition: stroke 0.3s ease-in-out;
            stroke: #40BFFF;
        }
    }

    &>.icon path {
        stroke: #969CAF !important;
    }
}

.statusBlockFilter {
    padding: 16px 20px 16px 16px;
    height: 44px;
    background: #FFFFFF;
    border: 1px solid #DBDDE5;
    border-radius: 5px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-weight: 400;
    font-size: 16px;
    line-height: 20px;
    color: #969CAF;
    cursor: pointer;

    &>.icon path {
        transition: stroke 0.4s ease-in-out;
    }

    &:hover {

        &>.icon path {
            transition: stroke 0.4s ease-in-out;
            stroke: #F25E7F;

        }
    }
}

.dateFilter {
    position: relative;

    .dateInput {
        width: 100%;
        height: 44px;
        border: none;
        outline: none;
        padding: 16px 0 16px 16px;
        background: #FFFFFF;
        transition: border 0.3s ease-in-out;
        border: 1px solid #DBDDE5;
        border-radius: 5px;

        &:focus {
            border: 1px solid #40BFFF;

            transition: border 0.3s ease-in-out;
        }

        &-active {
            &::placeholder {
                color: #252728;
            }
        }
    }

    .dateIcon {
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        right: 16px;
    }
}

.react-datepicker__day {
    cursor: url("../../../resources/img/cursor.svg") auto !important;
}