.react-datepicker__triangle {
    display: none;
}

.react-datepicker {
    &__header {
        background-color: #F9F9FB !important;
        border-bottom: none !important;
        padding: 24px 0 !important;
        padding-bottom: 5px !important;
    }
}

.react-datepicker {
    background-color: #F9F9FB !important;
    box-shadow: 0px 1px 2px rgba(0, 14, 51, 0.25);
    border: none !important;
    padding: 0 24px;
}

.react-datepicker__navigation--previous,
.react-datepicker__navigation--next {
    left: 24px !important;
    top: 18px !important;
    background: #FFFFFF !important;
    box-shadow: 0px 1px 1px rgba(0, 14, 51, 0.05);
    border-radius: 100%;
}

.react-datepicker__navigation--next {
    left: auto !important;
    right: 24px !important;
}


.react-datepicker__navigation-icon::before {
    border-color: #000000 !important;
}

.react-datepicker__current-month {
    text-transform: capitalize;
    margin-bottom: 12px;
}

.react-datepicker__day {
    text-align: center;
    background: #FFFFFF;
    box-shadow: 0px 1px 1px rgba(0, 14, 51, 0.05);
    border-radius: 6px;
    color: #252728 !important;

    &:hover {
        background: #ECF1FE !important;
        color: #40BFFF !important;
    }
}

.react-datepicker__day-name {
    color: #252728 !important;
    font-weight: 500;
    font-size: 15px;
    text-transform: capitalize;
}

.react-datepicker__day--selected,
.react-datepicker__day--in-selecting-range,
.react-datepicker__day--in-range,
.react-datepicker__month-text--selected,
.react-datepicker__month-text--in-selecting-range,
.react-datepicker__month-text--in-range,
.react-datepicker__quarter-text--selected,
.react-datepicker__quarter-text--in-selecting-range,
.react-datepicker__quarter-text--in-range,
.react-datepicker__year-text--selected,
.react-datepicker__year-text--in-selecting-range,
.react-datepicker__year-text--in-range {
    background: #40BFFF !important;
    color: #FFFFFF !important;
}

.react-datepicker__day--selecting-range-start.react-datepicker__day--in-range {
    background: #40BFFF !important;
    color: #FFFFFF !important;
}

.react-datepicker__day--in-range {
    background: #ECF1FE !important;
    color: #40BFFF !important;
}

.react-datepicker__day--range-end.react-datepicker__day--in-range {
    background: #40BFFF !important;
    color: #FFFFFF !important;
}