.addSectionModal {
    padding: 16px;
    display: flex;
    flex-direction: column;
    width: 400px;

    &__headText {
        font-weight: 500;
        font-size: 18px;
        line-height: 24px;
        text-align: center;
        margin-bottom: 24px;
        color: #252728;
    }

    .btns {
        width: 100%;
        justify-content: center;
        align-items: center;
        gap: 16px;

        .cancelBtn {
            margin-right: 0;
        }

        .removeBtn,
        .btns-block {
            flex-basis: 100%;
        }
    }
}

.form-infoSection {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 24px;
    width: 100%;

    .form-input {
        width: 100%;
    }

}