.addSection {
    margin-top: 20px;

    display: flex;
    align-items: center;
    gap: 21px;

    &-icon {
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .trashSection {
        path {
            stroke: var(--activeRedColor);
        }
    }
}