.header {
  height: 44px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #fff;
  padding: 10px 20px;
}

.header-block {
  display: flex;
  gap: 20px;
}

.header-title {
  font-weight: 500;
  font-size: 18px;
  line-height: 24px;
  color: #252728;
}

.header-img-wrapper {
  display: flex;
  align-items: center;
}

.total-cart {
  display: inherit;
  position: relative;
}

.total-cart-circle {
  position: absolute;
  top: -3px;
  right: -4px;
  width: 13px;
  height: 13px;
  color: #fff;
  border-radius: 100%;
  background: #f25e7f;
  font-size: 11px;
  font-weight: 500;
  text-align: center;
}