.pagination {
    display: flex;
    align-items: center;
    margin-top: 24px;
    margin-bottom: 20px;
}

.paginationNumber {
    margin-right: 24px;
    font-weight: 400;
    font-size: 14px;
    line-height: 16px;
    color: #969CAF;

    &:last-child {
        margin-right: 0;
    }

    &__active {
        padding: 12px;
        background: #40BFFF;
        border-radius: 4px;
        color: #FFFFFF;
    }

}