.from-infoStoreSelect {
    .dropdown-tags_active {
        bottom: -165px;
    }
}

.from-infoStoreSelect {
    &.form-input {
        border: none;
        padding: 0;
    }

    .selectChoose {
        margin-top: 6px;
    }

    &.form-inputCities {
        flex-basis: none;

        .selectChoose {
            margin-top: 0;
        }
    }
}