.catalogCity {
    margin-top: 32px;
    position: relative;


    &_wrapper {
        display: grid;
        grid-template: minmax(292px, auto) / repeat(2, 1fr);
    }
}

.catalogCity_block {
    background: #FFFFFF;
    border-radius: 6px;

}

.catalog {
    margin-right: 24px;
    padding: 24px 0 24px 25px;
    position: relative;
    overflow: hidden;
}

.catalogList {
    display: flex;
    margin-top: 24px;
    gap: 16px;
    width: 9999px;
    transition: margin-left 250ms;

    &-block {
        display: flex;
        justify-content: center;
        align-items: center;
        background: #F4F6FC;
        border-radius: 5px;
        width: 234px;
        height: 196px;
    }
}

.top-catalog {
    &__subText {
        margin-top: 12px;
        font-weight: 400;
        cursor: pointer;

        &:hover {
            text-decoration: underline;
        }
    }

    &__price {
        font-weight: 400;
        font-size: 18px;
        line-height: 22px;
        margin-top: 4px;
        color: #F25E7F;
    }

    &__img img {
        width: 171px;
        border-radius: 5px;
        height: 144px;
        object-fit: cover
    }
}

.text-catalog {
    font-weight: 500;
    font-size: 18px;
    line-height: 24px;

    color: #969CAF;
}

.text-add {
    margin-left: 10px;
    font-weight: 500;
    font-size: 16px;
    line-height: 16px;

    color: #40BFFF;

}


.city {
    padding: 16px 24px 34px 24px;

    &-top {
        margin-top: 16px;
        display: flex;
        flex-direction: column;

        &:first-child {
            margin-top: 24px;
        }
    }
}

.text-catalogCityHead {
    font-weight: 500;
    font-size: 18px;
    line-height: 24px;

    color: #252728;
}

.text-cityName {
    font-weight: 400;
    font-size: 16px;
    line-height: 20px;

    color: #969CAF;
}

.presentationInfo {
    margin-top: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.progressInfo,
.filler {
    width: 90%;
    height: 6px;
    background: #F4F6FC;
    border-radius: 8px;
}

.progressInfo {
    background: #40BFFF;
}

.procentInfo {
    font-weight: 500;
    font-size: 18px;
    line-height: 21px;

    color: #969CAF;
}

.arrow-item {
    position: absolute;
    top: 29px;
    right: 32px;
    display: flex;

    &__left {
        margin-right: 33px;
    }

    &__right,
    &__left {
        transition: opacity .3s ease-in-out;
        cursor: pointer;
    }
}