.slider-wrapper .slick-track {
  gap: 0px;
}

.slick-dots {
  position: absolute;
  bottom: -5px;
  display: flex;
}

.slick-dots li {
  width: 100%;
}

.slick-dot-custom {
  height: 2px;
  background: rgba(255, 255, 255, 0.6);
  border-radius: 5px;
}

.slick-active .slick-dot-custom {
  background: #f25e7f;
}
