.tag {
  display: inline-block;
  position: absolute;
  padding: 5px 7px;
  box-shadow: 0px 0px 16px rgba(0, 0, 0, 0.04);
  border-radius: 3px;
}

.tag-inner {
  color: #fff;
  font-size: 12px;
}

.tag-new {
  background: #f25e7f;
  top: 5px;
  left: 5px;
}

.tag-exclusive {
  background: #5c61f4;
  bottom: 5px;
  left: 5px;
}

.tag-credit {
  position: relative;
  background: #dd5440;
}

.tag-discount {
  position: relative;
  background: #f25e7f;
}
