.popup {
  position: relative;
  height: 100vh;

  &-close {
    position: absolute;
    top: 23px;
    right: 23px;
    cursor: pointer;
  }
}

.notificationPosClosePopup {
  cursor: pointer;
  position: absolute;
  right: 15px;
  top: 80px;
}

.defaultPosClosePopup {
  display: none;
}