.allCategory {
    padding: 27px 0 48px 0;
    background-color: #fff;

    &__head {
        position: relative;
        display: flex;
        align-items: center;

        .hamburger {
            right: 0;
        }
    }

    &__url {
        margin-top: 16px;
        font-weight: 400;
        font-size: 14px;
        line-height: 20px;
    }

    &__grid {
        display: grid;
        grid-template: repeat(2, 1fr) / repeat(3, 1fr);
        gap: 32px;
        margin-top: 24px;
    }
}

@media(max-width: 767px) {
    .allCategory {
        &__grid {
            grid-template-columns: repeat(2, 1fr);
        }
    }
}