.info {
    margin-top: 32px;
    position: relative;


    &-wrapper {
        display: flex;
        justify-content: space-between;
        align-items: center;

    }

    &-wrapper>.profileIcon {
        &:nth-child(2) {
            border-color: #F25E7F;
        }

        &:nth-child(3) {
            border-color: #53D160;
        }
    }
}

.data-block {
    padding: 20px 0 20px 24px;
    width: 285px;
    background: #FFFFFF;
    border-radius: 6px;
    display: flex;

}

.profileIcon {
    margin-right: 16px;
    width: 56px;
    height: 56px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 100%;
    border: 2px solid #40BFFF;

}

.infoData {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}