.userCategory {
    padding: 16px 0 48px 0;
    background-color: #FFFFFF;

    &__filter {
        margin-top: 24px;

        .form-input {
            &::placeholder {
                font-weight: 400;
                font-size: 18px;
                line-height: 24px;
                color: #969CAF;
            }
        }

        .categoryListBtns__btn>.btnText {
            padding: 9px 15px;
        }
    }

    &__subFilter {
        margin-top: 20px;
        display: flex;
        align-items: center;
        gap: 40px;

        &-block {
            display: flex;
            align-items: center;
            position: relative;

            &>.sortText {
                font-weight: 400;
                font-size: 16px;
                line-height: 20px;
                color: #252728;

            }

            .icon {
                margin-right: 11px;

                &__filter {
                    margin-right: 14px;

                    path {
                        stroke: #40BFFF;
                    }
                }
            }
        }
    }
}

.sortFilterBlock {
    position: absolute;
    bottom: -142px;
    z-index: 11;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 10px;
    opacity: 0;
    visibility: hidden;
    transition: all .5s ease-in-out;
    padding: 12px 34px;
    background: #FFFFFF;
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.06);
    border-radius: 0px 0px 3px 3px;

    &>.sortText {
        font-weight: 400;
        font-size: 15px;
        line-height: 20px;
        color: #969CAF;

        &__active {
            color: #40BFFF;
        }
    }


    &__active {
        transition: all .5s ease-in-out;
        opacity: 1;
        visibility: visible;
    }
}

.defaultScreen {
    min-height: 500px;
    position: relative;

    img[alt="default icon"] {
        left: 55%;
    }

    .warningtext {
        top: 390.99px;
    }
}

// head basic style
.userCategoryProduct__urlText {
    margin-top: 16px;
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
    color: #969CAF;
}

.userCategoryProduct__head {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-between;

    &>.hamburger {
        left: 0;
        right: auto;
    }

    &-title {
        margin-left: 36px;

    }

}

.favoriteBasketIcons {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
}