.registerStep-storeData {
    margin-top: 24px;

    &>.loginRegister__form {
        margin-top: 32px;
    }
}

.select-form {
    display: flex;
    align-items: center;
    margin-top: 6px;
    gap: 8px;
    color: #969CAF;

    &>.countrySelect {
        padding: 14.4px 10px;
        border: 1px solid #DBDDE5;
        border-radius: 5px;
        display: flex;
        align-items: center;
        gap: 10px;
    }

    &>.citySelect {
        padding: 14px 15px 14.8px 14px;
        border: 1px solid #DBDDE5;
        border-radius: 5px;
        display: flex;
        align-items: center;
        flex-grow: 2;

    }
}

.citySelect__icon {
    margin-right: 14px;
}

.citySelect__iconArrow {
    margin-left: auto;
}