.custom-dropdown {
  max-width: 500px;
  margin-bottom: 10px;
  overflow: hidden;
}

.dropdown-header {
  padding: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.dropdown-body {
  height: 0;
  color: #969caf;
  font-size: 14px;
  line-height: 16px;
}

.dropdown-body-active {
  padding: 0px 10px 10px;
  height: auto;
}

.dropdown-arrow {
  transition: 0.3s ease;
}

.dropdown-arrow-active {
  transform: rotate(-180deg);
}
