.default {
    // position: absolute;
    // top: 100%;
    // left: 50%;
    // transform: translateX(-50%);
    // text-align: center;

    img[alt="default icon"] {
        position: absolute;
        top: 20%;
        left: 52%;
        transform: translateX(-50%);

    }

}

.warningtext {
    position: absolute;
    top: calc(288.99px + 45px);
    text-align: center;
    left: 50%;
    transform: translateX(-50%);
}

.defaultTitle {
    font-weight: 500;
    font-size: 24px;
    line-height: 29px;
    color: #252728;
}

.descr {
    margin-top: 12px;
    font-weight: 400;
    font-size: 18px;
    line-height: 21px;

    color: #969CAF;
}