.imgWarningRemove {
    display: block;
    margin: 0 auto;
    margin-bottom: 20px;
}

@media(max-width: 767px) {
    .warningsRemove {
        width: 325px;
    }

    .removeBtn {
        width: 100%;
        flex-basis: auto;
    }

    .userWarningRemove {
        .btns {
            flex-wrap: wrap;
            gap: 10px;
        }

        .btns-block {
            width: 100%;
            margin-right: 0;
        }
    }

    .warningsText {
        text-align: center;
    }


}