.setting {
  max-width: 400px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;
  gap: 15px;
}

.setting-option {
  width: 100%;
}

.setting-filter {
  gap: 13px;
}

.setting-option,
.setting-filter {
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border: none;
  outline: none;
  background: transparent;
}

.setting-option span,
.setting-filter span {
  font-size: 14px;
  color: #252728;
}

.setting-option-wrapper {
  position: relative;
  width: 206px;
}

.option-list {
  display: none;
  width: 100%;
  position: absolute;
  top: 29px;
  list-style-type: none;
  padding: 10px;
  border-radius: 10px;
  z-index: 9;
  background: #ffffff;
  box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.06);
  border-radius: 0px 0px 3px 3px;
}

.option-item {
  margin-bottom: 5px;
  font-size: 14px;
  line-height: 16px;
  margin-left: 20px;
}

.option-list-active {
  display: block;
}

.option-item-active {
  color: #40bfff;
}

.no-result {
  padding: 20px;
  text-align: center;
  display: none;
}

.no-result-search {
  font-weight: 400;
  font-size: 14px;
  line-height: 16px;
  color: #252728;
  text-align: center;
}

.no-result-img {
  margin: 20px 0px;
}

.no-result-text {
  font-weight: 400;
  font-size: 14px;
  line-height: 16px;
  text-align: center;
  color: #969caf;
}
