.cart-page {
  padding: 20px;
  max-width: 500px;
}

.cart-item {
  margin-bottom: 20px;
}

.cart-card-price {
  color: #252728;
}

.cart-detail-img {
  width: 85px;
  height: 100px;
}

.cart-modal-img {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 20px;
}

.cart-modal-text {
  text-align: center;
  font-weight: 500;
  font-size: 18px;
  line-height: 20px;
  color: #252728;
  margin-bottom: 25px;
}

.cart-modal-wrapper {
  display: flex;
  justify-content: center;
  margin-bottom: 10px;
}
