.moreBox {
    grid-row: 1;
    grid-column: 3 / 5;
}

.catalogList-row {
    grid-template-columns: repeat(9, minmax(100px, 1fr)) !important;
    align-items: center !important;
    border-top: 1px solid #DBDDE5;

    .box {
        border-top: none;
    }
}

.catalogList-titleName {
    font-weight: 500;
    font-size: 14px;
    line-height: 18px;
    margin-bottom: 4px;
    color: #252728;
}

.sizeProducts {
    font-weight: 400;
    font-size: 14px;
    line-height: 18px;
    color: #252728;
}

.box.price {
    font-weight: 500;
    font-size: 14px;
    line-height: 18px;

    font-feature-settings: 'pnum' on, 'lnum' on;


    color: #252728;
}

.icon_trash {
    margin-left: 33px;

    path {
        stroke: #FF3333;
    }
}