.notificationBlock {
    padding: 24px 0;
    position: relative;
    width: 400px;

    &__headText {
        font-weight: 500;
        font-size: 18px;
        line-height: 21px;
        padding: 0 24px;
        color: #252728;
    }

    &__list {
        z-index: 103;
        position: relative;
        padding: 16px 24px;
        padding-right: 0;
        display: flex;
        align-items: center;
        gap: 12px;
        margin-top: 16px;
        border-top: 1px solid #DBDAEA;

        .circleRoadMap {
            background: #F25E7F;
            width: 8px;
            height: 8px;
            border-radius: 100%;
            margin: 0;
        }

    }
}

.dateInfo {
    font-weight: 400;
    font-size: 14px;
    line-height: 16px;
    color: #8E8E8E;
}

.infoNotification {
    font-weight: 400;
    font-size: 16px;
    line-height: 20px;
    color: #0F0E1E;
}

.linkNotification {
    margin-top: 9px;
    font-weight: 400;
    font-size: 14px;
    line-height: 18px;
    color: #40BFFF;
}

.arrowUp {
    position: absolute;
    right: 58px;
    top: -17px;
    width: 0;
    height: 0;
    z-index: 102;
    border-left: 17px solid transparent;
    border-right: 17px solid transparent;
    border-bottom: 18px solid #FFFFFF;
}