.grid-cards {
  padding: 20px;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(190px, 1fr));
  grid-template-rows: 1fr;
  gap: 15px;
}

@media (max-width: 560px) {
  .grid-cards {
    grid-template-columns: repeat(2, 1fr);
  }
}
